.site{
    display: grid;
    grid-template-areas:"header header header "
                         "inner inner  aside"
                         "inner inner aside"
                         "inner inner aside"
                         "footer footer footer"
  
  }
  
  .header {
    background-color: rgb(227, 225, 225);
    grid-area: header;
    text-align: center;
    height: 80px;
  }
  
  .inner{
    display: grid;
    grid-area: inner;
  
                         
    background-color: beige;
    gap: 10px 20px;
    text-align: center;
    padding: 10px;
    height: 200px;
     
  }
  
  .main{
    grid-area: main;
  padding: 10px 10px 30px;
  
   } 
   
  .block{
    background-color: rgb(254, 234,185);
    text-align: inherit;
  }
  
  
  .block left
  {
    grid-area: left;
   
  }
  
  .block right
  {
    grid-area:right;
  
  }
  .block bottom
  {
    grid-area:bottom;
  
  }
  
  
  .aside {
    grid-area: aside;
    background-color: rgb(185, 235, 185);
    
  }
  
  .footer {
  grid-area: footer;
  display: grid;
  background-color: rgb(227, 225, 225);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 70px;
  padding: 10px;
  gap: 50px;
  }
  
  .section-1  {
    
  background-color: hwb(0 93% 4%);
  padding: 10px;
  text-align: center;
  }
  
  .section-2  {
    background-color: hwb(0 93% 4%);
    padding: 10px;
    text-align: center;
  }
  
  .section-3  {
    background-color: hwb(0 93% 4%);
    padding: 10px;
    text-align: center;
  }
  
  .section-4  {
    background-color: hwb(0 93% 4%);
    padding: 10px;
    text-align: center;
  }